.info-container {
  position: relative;
  width: 100%; }

.info__dashed-line__container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 42%;
  z-index: 99;
  background: no-repeat url(../../images/line.svg); }

.info__add {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 75px;
  overflow: hidden; }

.info__background {
  width: 100%;
  margin: 0 0 0 0; }

.info__background-container {
  position: relative; }

.info__add__buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0; }

.add__button {
  width: 15%;
  min-width: 200px;
  height: 40px;
  background-color: #2a2d34;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  margin: 15px; }

.info_text__codeR-container,
.info_text__dayR-container {
  display: flex;
  justify-content: flex-start;
  align-items: start; }

.code {
  margin-top: 100px; }

.info_text {
  max-width: 55%;
  width: 55%;
  height: auto;
  margin-bottom: 25px;
  background-color: #fee600;
  border-radius: 20px; }
  .info_text p {
    font-size: 24px;
    margin: 55px 45px 55px 45px;
    text-indent: 15%; }

.info__text__codeR,
.info__text__dayR {
  margin-top: 3%;
  margin-right: -10%;
  z-index: 9; }

@media (max-width: 1910px) {
  .info__dashed-line__container {
    top: 39%;
    left: -60px; } }
@media (max-width: 1855px) {
  .info__dashed-line__container {
    top: 39%;
    left: -155px; } }
@media (max-width: 1855px) {
  .info__dashed-line__container {
    top: 37%; } }
@media (max-width: 1750px) {
  .info__dashed-line__container {
    background: no-repeat url(../../images/line-medium.svg);
    top: 38%;
    left: 30px; } }
@media (max-width: 1650px) {
  .info__dashed-line__container {
    top: 36%;
    left: -55px; } }
@media (max-width: 1600px) {
  .info__dashed-line__container {
    top: 34%;
    left: -79px; } }
@media (max-width: 1550px) {
  .info__dashed-line__container {
    background: no-repeat url(../../images/line-medium_x_1550.svg);
    top: 32%;
    left: 0px; } }
@media (max-width: 1450px) {
  .info__dashed-line__container {
    top: 29%;
    left: 11px; }

  .code__picture {
    width: 600px; }

  .info__text__codeR,
  .info__text__dayR {
    margin-top: 4%; } }
@media (max-width: 1410px) {
  .info__dashed-line__container {
    top: 27%;
    left: -10px; } }
@media (max-width: 1350px) {
  .info__dashed-line__container {
    top: 27%;
    left: -60px; } }
@media (max-width: 1330px) {
  .info__dashed-line__container {
    top: 25%;
    left: -60px; } }
@media (max-width: 1260px) {
  .code__picture {
    width: 400px;
    height: 20px; }

  .info__text__codeR,
  .info__text__dayR {
    margin-top: 5%; }

  .info__dashed-line__container {
    background: no-repeat url("../../images/line_x1000.svg");
    top: 15%;
    left: -65px;
    background-size: contain; } }
@media (max-width: 1200px) {
  .info__dashed-line__container {
    background: no-repeat url("../../images/line_x1000.svg");
    top: 13%;
    left: -65px;
    background-size: contain; } }
@media (max-width: 1040px) {
  .info__dashed-line__container {
    background: no-repeat url("../../images/line_x800.svg"); }

  .info_text p {
    font-size: 18px; }

  header {
    margin-left: 10%;
    margin-right: 10%; }

  .info__text__codeR,
  .info__text__dayR {
    margin-top: 6%; } }
@media (max-width: 850px) {
  .info__text__codeR,
  .info__text__dayR {
    margin-top: 6%; }

  .code__picture {
    width: 250px;
    height: 20px; } }
@media (max-width: 800px) {
  .info__text__codeR,
  .info__text__dayR {
    margin-top: 7%; } }
@media (max-width: 650px) {
  .info__text__codeR,
  .info__text__dayR {
    margin-top: 9%; }

  .code__picture {
    width: 200px;
    height: 25px; } }
@media (min-width: 550px) {
  .info__date,
  .info__motto {
    display: none; } }
@media (max-width: 550px) {
  .info__date {
    font-family: DejaVuSans;
    color: #111111;
    background-color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    margin: 5%; }

  .info__motto {
    text-align: center; }

  .info__add {
    background-color: #fee600;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .info__background {
    display: none; }

  .info_text__codeR-container {
    margin-right: 20%; } }
@media (max-width: 350px) {
  .info_text__codeR-container {
    margin-right: 10%; } }

/*# sourceMappingURL=info.css.map */
